@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #5c5b5b;
  font-family: "JetBrains Mono", monospace;
}

.wrapper-ex1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: yellow 2px solid;
  margin: 20px;
  border-radius: 20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px;
}

.slider__inner-img {
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-filter: blur(1em);
          filter: blur(1em);
}

.slider__active {
  width: 1000%;
}

.slider img {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-ex2 {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.progress-step {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: relative;
}

.progress-step ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.progress-step ul::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  height: 2px;
  background-color: gray;
  z-index: -2;
}

.progress-step__number {
  display: inline-block;
  width: 40px;
  line-height: 36px;
  border-radius: 20px;
  text-align: center;
  border: gray solid 2px;
  background-color: gray;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.progress-step__active {
  border: #252594 solid 2px;
}

.progress-step__line {
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 0;
  height: 2px;
  background-color: #252594;
  z-index: -1;
}

.progress-step button {
  margin: 1em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #8aa4f3;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.progress-step button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  padding-left: 0.5em;
  border-radius: 0.5em;
}

.search__active {
  width: 0%;
  padding-left: 0em;
}

.search__search-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__icon {
  cursor: pointer;
  background: white;
  font-size: 2em;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: -0.7em;
  text-align: center;
  position: relative;
}

.search__icon::before {
  content: "";
  font-size: 2rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  -webkit-animation-name: spreading-circle;
          animation-name: spreading-circle;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.search__button {
  height: 2rem;
  padding: 0 1em;
  text-transform: capitalize;
  border-radius: 1em;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.search__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pop-up {
  position: fixed;
  display: none;
  color: white;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
  width: 20%;
  line-height: 4rem;
  border-radius: 1rem;
  text-align: center;
  left: 50%;
  bottom: 60%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

.pop-up__active {
  display: block;
}

.scroll-animation__content-box {
  text-align: center;
  margin: 1em auto;
  line-height: 7em;
  border-radius: 1em;
  font-size: 2em;
  background-color: #f5f566;
  width: 50%;
  text-transform: capitalize;
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.scroll-animation__odd {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}

.scroll-animation__active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.split-landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 800px;
}

.split-landing-page__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.split-landing-page__left {
  background: rgba(0, 0, 0, 0.5);
  background-image: url("../img/dog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.split-landing-page__right {
  background: rgba(0, 0, 0, 0.5);
  background-image: url("../img/cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.split-landing-page__title {
  color: white;
  line-height: 1.5em;
  border-radius: 1em;
  font-size: 2.5em;
  width: 10em;
  text-align: center;
  font-weight: 700;
}

.split-landing-page__button {
  color: black;
  text-align: center;
  width: 10em;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  margin: 6em 0;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.6);
}

.split-landing-page__button:hover {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.7);
}

.split-landing-page__active {
  width: 250%;
}

.form-wave-animation {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2em auto;
  padding: 1em 1em;
  max-width: 400px;
  color: white;
  text-align: center;
  border-radius: 1em;
}

.form-wave-animation a {
  color: yellow;
  text-decoration: underline;
}

.form-wave-animation span {
  display: inline-block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-wave-animation__form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  padding: 1em;
  margin: 1.5em 0;
}

.form-wave-animation__form-control input {
  background-color: transparent;
  color: white;
  border-bottom: white 2px solid;
  width: 100%;
  line-height: 2em;
}

.form-wave-animation__form-control label {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 1em;
}

.form-wave-animation__active {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

.form-wave-animation__btn {
  line-height: 2em;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  margin-bottom: 1em;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-wave-animation__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-wave-animation__btn:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
}

.sound-bar {
  text-align: center;
}

.sound-bar__btn {
  margin: 1em;
  background: rgba(255, 255, 0, 0.5);
  padding: 1em;
  border-radius: 1em;
  text-transform: capitalize;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.sound-bar__btn:hover {
  background: yellow;
}

.sound-bar__btn:active {
  background: rgba(0, 0, 0, 0.7);
  color: yellow;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.dads-joke {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  border-radius: 1em;
}

.dads-joke__title {
  text-transform: capitalize;
  font-weight: 700;
}

.dads-joke__joke {
  margin: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
}

.dads-joke__btn {
  padding: 0.5em;
  border-radius: 0.5em;
  background: rgba(162, 162, 255, 0.747);
}

.key-codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.key-codes__box {
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 0.5em;
}

.key-codes__key {
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  font-weight: 700;
  border: 1px solid gray;
}

@-webkit-keyframes spreading-circle {
  from {
    width: 100%;
    height: 100%;
  }
  50% {
    background-color: transparent;
    width: 500%;
    height: 500%;
  }
  to {
    background-color: transparent;
    width: 500%;
    height: 500%;
  }
}

@keyframes spreading-circle {
  from {
    width: 100%;
    height: 100%;
  }
  50% {
    background-color: transparent;
    width: 500%;
    height: 500%;
  }
  to {
    background-color: transparent;
    width: 500%;
    height: 500%;
  }
}
