// Импортирование обнуляющего стиля css
@import "nullstyle.scss";
// Импорт шрифтов из Google fonts.  https://fonts.google.com/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
    // background-color: rgb(43, 42, 42);
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    font-size: 16px;
    background: rgb(170, 77, 170);
    color: rgb(189, 189, 189);

    overflow-x: hidden;
}

img {
    // object-fit: cover;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: fit-content;
    background: rgb(170, 77, 170);
}

.article {
    margin: 0;
    padding: 2rem 3rem;
    background-color: rgb(43, 42, 42);

    transform-origin: 0% 0%;
    transform: rotate(0deg);
    transition: all 0.2s linear;

    &__title {
        font-size: 2em;
        margin: 1.5rem 0;
        font-weight: bold;
    }

    &__subtitle {
    }

    &__description {
    }

    &__photo {
        img {
            border-radius: 2rem;
        }
    }

    &__photo-name {
        margin: 1rem 0;
        font-weight: 700;
    }

    &__info {
    }

    div {
        margin: 1em 0;
    }

    &__active {
        transform: rotate(-15deg);
    }
}

@keyframes circle-to-square {
    from {
        background-color: rgba(226, 226, 0, 0.5);
    }
    50% {
        background-color: transparent;
        width: 25rem;
        height: 25rem;
    }
    to {
        background-color: transparent;
        width: 25rem;
        height: 25rem;
    }
}

.corner-button {
    background-color: rgb(226, 226, 0);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transition: transform 0.2s linear;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;

    &::before {
        content: "";
        display: inline-block;
        transform: translateX(-50%) translateY(-50%);
        position: relative;
        background-color: rgb(226, 226, 0);
        left: 50%;
        top: 50%;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;

        animation-name: circle-to-square;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    &__open {
        display: inline-block;
        position: absolute;
        transform: translateX(50%) translateY(50%) scale(1.5);
        right: 25%;
        bottom: 25%;
        line-height: 50px;
        height: 50px;
        background-color: transparent;
    }

    &__close {
        display: inline-block;
        position: absolute;
        transform: translateX(50%) translateY(50%) rotate(45deg) scale(1.5);
        line-height: 50px;
        right: 75%;
        top: 0%;
        background-color: transparent;
    }

    &__active {
        transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    }
}

@keyframes radial-impulse {
    from {
    }

    to {
    }
}

.menu {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.2s linear;

    a {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.356);
        border-radius: 1em;
        line-height: 1.5em;

        font-weight: 600;
        color: rgb(24, 24, 24);
        transition: all 0.1s linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__home {
        margin: 1em;
    }

    &__about {
        margin: 1em 2em;
    }

    &__contact {
        margin: 1em 3em;
    }

    &__active {
        transform: translateX(0);
    }
}

i {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: rgb(53, 53, 53);
}
